#container {
    border: 4px solid darkred;
    height: 800px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid lightgray;
    display: flex;
    box-sizing: border-box;
}