html {
    display: flex;
    justify-content: center;
    text-align-last: center;
    background-color: red;
}

#container {
    height: 800px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.square {
    border: 1px solid lightgray;
    display: flex;
    box-sizing: border-box;
}

button {
    margin: 10px;
    padding: 10px;
    border: 2px solid darkred;
}