body {
    display: flex;
}

.container {
    border: 4px solid darkred;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.square {
    height: 16px;
    width: 16px;
    border: 1px solid black;
}